<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New article</title>
    <link href="https://cdn.quilljs.com/1.2.0/quill.bubble.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"> {% load static %}
    <link href="{% static "article/styles.css" %}" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="well">
            <section>
                <header>
                    <div class="page-header">
                        <h1 id="title" contenteditable="true">Your article title...</h1>
                    </div>
                    <address id="author" contenteditable="true">Your name...</address>
                </header>
                <article id="editor-container">
                    <p>Your article body...</p>
                </article>
            </section>
        </div>

        <aside>
            {% csrf_token %}
            <button id="publish-button" class="btn btn-primary">Publish</button>
            <button id="edit-button" class="btn btn-primary">Edit</button>
        </aside>
    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.quilljs.com/1.2.0/quill.min.js"></script>

    <script src="{% static "article/main.js" %}"></script>

    {% block script %}{% endblock %}
</body>

</html>